* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 253, 242);
}

/*

Styles for the navigation header section containing links to pages

*/

#nav-section {

    height: 10vh;

    background-color: black;

    border-style: solid;
    border-top: none;

    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    border-color: rgb(146, 146, 146);

    color: whitesmoke;
    font-weight: 700;
    font-size: 2rem;

}

#nav-list {

  padding-top: 2vh;

  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

#nav-list li:hover {
  cursor: pointer;
}

/*

Styling for the main content section, regardless of what content is loaded into it

*/

#content {

  margin-top: 4rem;

  display: flex;
  flex-direction: column;

  align-items: center;

}

/*

Styling for the projects list page.

*/

#project-page-content-wrapper {

  width: 70vw;

  display: flex;
  flex-direction: column;

  align-items: center;

}

.list-header {

  padding-bottom: 1rem;
  padding-left: 2rem;

  align-self: start;

  font-size: 2rem;
  font-weight: 700;

}

#projects-list {

  width: 100%;
  display: flex;
  flex-direction: column;

  background-color: rgb(246, 250, 255);

  border-radius: 2rem;

  box-shadow: inset rgb(102, 102, 102) 2px 2px 3px 3px;

}

.project-card {

  position: relative;

  margin: 2rem;
  padding: 1rem;

  border-style: solid;
  border-radius: 1rem;

  box-shadow: rgb(168, 168, 168) 1px 1px 2px 2px;

  background-color: rgb(255, 255, 255);

  font-size: 1.5rem;

}
.project-card:hover {
  cursor: pointer;
}

.project-card:nth-child(n+2) {
  margin-top: 0rem;
}

.project-main-info {

  margin-bottom: 0.5rem;

  display: flex;
  justify-content: space-between;
  
}

/*

Styling for the todo list pages.

*/

#todo-page-content-wrapper {

  width: 70vw;

  display: flex;
  flex-direction: column;

  align-items: center;

}

#todo-list {

  width: 100%;
  display: flex;
  flex-direction: column;

  background-color: rgb(255, 255, 255);

  border-style: solid;
  border-width: 2px;

}

.todo-item {

  --colour: 255 255 255;

  padding: 0.5rem;
  padding-left: 2rem;

  position: relative;

  border-bottom-style: solid;
  border-width: 1px;

  background-color: rgb(var(--colour));

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 1.5rem;

}

.todo-item:hover {
  cursor: pointer;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item[priority="low"] { 
  --colour: 240 255 240;
}

.todo-item[priority="medium"] { 
  --colour: 240 240 255;
}

.todo-item[priority="high"] { 
  --colour: 255 240 240;
}

.todo-main-info {

  display: flex;
  flex-direction: column;
  
}

.todo-item-complete {

  margin-right: 1rem;

  height: 2rem;
  width: 2rem;

  border-radius: 50%;

  align-self: center;

}

#add-todo-item {

  width: 2rem;
  height: 2rem;

  margin-top: 1rem;
  padding: none;

  background-color: rgb(255, 78, 78);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;

}

/*

Styling for the details page.

*/

#details-content-wrapper {
  
  width: 70vw;

  display: grid;
  grid-template-columns: 30% 50% 20%;
  grid-template-rows: 20% auto 20%;

  font-size: 1.5rem;

  align-items: center;

}

.det-name {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  font-size: 2rem;
}

.det-priority {

  grid-row: 1 / 2;
  grid-column: 3 / 4;

  justify-self: center;

}

.det-description {

  padding-right: 2rem;
  padding-left: 0.5rem;
  padding-top: 4rem;
  padding-bottom: 3rem;

  border-style: solid;
  border-width: 2px;
  border-left: none;
  border-right: none;

  grid-row: 2 / 3;
  grid-column: 1 / 4;

  font-size: 1.2rem;

}

.det-due-date {

  grid-row: 3 / 4;
  grid-column: 1 / 2;

}

.det-complete {

  grid-row: 3 / 4;
  grid-column: 3 / 4;

  display: flex;
  flex-direction: row;

  justify-content: space-around;

}

.det-complete > input {

  height: 2rem;
  width: 2rem;

  border-radius: 50%;

  align-self: center;

}

/* 

Styles for the modal for creating new projects

*/

#modal-background {

  width: 100vw;
  height: 100vh;

  position: fixed;

  top: 0;

  background-color: rgba(50,50,50, 0.5);

}

#add-project-modal {

  width: 15rem;
  height: 7rem;

  padding: 0.5rem;

  position: fixed;
  top: 30vh;
  left: calc(50vw - 7.5rem);

  box-shadow: lightgrey 2px 2px 2px 2px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  border-style: solid;
  border-radius: 0.5rem;

  background-color: white;

}

#new-project-form {

  display: grid;


}

#form-header {

  margin-bottom: 1rem;

  font-size: 1.5rem;

}

#close-project-modal {

  width: 1.5rem;
  height: 1.5rem;

  position: absolute;

  right: 1rem;
  top: 1rem;

  border-radius: 50%;

  background-color: rgb(255, 144, 144);

  align-items: center;
  justify-items: center;
  justify-content: center;

  font-size: 1.5rem;

}

#close-project-modal > p {
  position: absolute;
  bottom: -0.25rem;
  left: 0.13rem;
}

/*

Styles for the new task creation modal

*/

#add-task-modal {

  --width: max(25rem, content);
  --height: max(15rem, content);

  width: var(--width);
  height: var(--height);

  padding: 0.5rem;

  position: fixed;
  top: 25vh;
  left: 50vw;
  transform: translateX(-50%);

  box-shadow: lightgrey 2px 2px 2px 2px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  border-style: solid;
  border-radius: 0.5rem;

  background-color: white;

}

#new-task-form {

  display: flex;
  flex-direction: column;

  row-gap: 0.5rem;

}

#form-fields {
  display: grid;
  grid-template-columns: 1fr 3fr;

  row-gap: 0.5rem;

  align-items: center;
}

#form-error-msg {
  color: red;
}

#close-task-modal {

  width: 1.5rem;
  height: 1.5rem;

  position: absolute;

  right: 1rem;
  top: 1rem;

  border-radius: 50%;

  background-color: rgb(255, 144, 144);

  align-items: center;
  justify-items: center;
  justify-content: center;

  font-size: 1.5rem;

}

#close-task-modal > p {

  position: absolute;
  bottom: -0.25rem;
  left: 0.13rem;

}

/* 

Styles for the delete buttons on projects and tasks 

*/

.delete-button {

  position: absolute;
  top: 0.2rem;
  right: 0.2rem;

  width: 1rem;
  height: 1rem;

  border-radius: 50%;

  background-color: rgb(255, 144, 144);

  font-size: 0.7rem;

}

/*

styles for the confirmation window - used to confirm permanent changes such as deletion of project data 

*/

#confirmation-background {

  width: 100vw;
  height: 100vh;

  position: fixed;

  top: 0;

  background-color: rgba(50,50,50, 0.2);

}

#confirmation-modal {

  width: 15rem;
  height: 6rem;

  padding: 0.5rem;

  position: fixed;
  top: 30vh;
  left: calc(50vw - 7.5rem);

  box-shadow: lightgrey 2px 2px 2px 2px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;

  align-items: center;
  justify-content: center;

  border-style: solid;
  border-radius: 0.5rem;

  background-color: white;

}

#confirmation-text {

  grid-column: 1 / 3;

}

.confirmation-button {

  width: 4rem;
  height: 1.5rem;

  justify-self: center;

}