* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 253, 242);
}

/*

Styles for the navigation header section containing links to pages

*/

#nav-section {

    height: 10vh;

    background-color: black;

    border-style: solid;
    border-top: none;

    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    border-color: rgb(146, 146, 146);

    color: whitesmoke;
    font-weight: 700;
    font-size: 2rem;

}

#nav-list {

  padding-top: 2vh;

  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

#nav-list li:hover {
  cursor: pointer;
}

/*

Styling for the main content section, regardless of what content is loaded into it

*/

#content {

  margin-top: 4rem;

  display: flex;
  flex-direction: column;

  align-items: center;

}

/*

Styling for the projects list page.

*/

#project-page-content-wrapper {

  width: 70vw;

  display: flex;
  flex-direction: column;

  align-items: center;

}

.list-header {

  padding-bottom: 1rem;
  padding-left: 2rem;

  align-self: start;

  font-size: 2rem;
  font-weight: 700;

}

#projects-list {

  width: 100%;
  display: flex;
  flex-direction: column;

  background-color: rgb(246, 250, 255);

  border-radius: 2rem;

  box-shadow: inset rgb(102, 102, 102) 2px 2px 3px 3px;

}

.project-card {

  margin: 2rem;
  padding: 1rem;

  border-style: solid;
  border-radius: 1rem;

  box-shadow: rgb(168, 168, 168) 1px 1px 2px 2px;

  background-color: rgb(255, 255, 255);

  font-size: 1.5rem;

}
.project-card:hover {
  cursor: pointer;
}

.project-card:nth-child(n+2) {
  margin-top: 0rem;
}

.project-main-info {

  margin-bottom: 0.5rem;

  display: flex;
  justify-content: space-between;
  
}

/*

Styling for the todo list pages.

*/

#todo-page-content-wrapper {

  width: 70vw;

  display: flex;
  flex-direction: column;

  align-items: center;

}

#todo-list {

  width: 100%;
  display: flex;
  flex-direction: column;

  background-color: rgb(255, 255, 255);

  border-style: solid;
  border-width: 2px;

}

.todo-item {

  --colour: 255 255 255;

  padding: 0.5rem;
  padding-left: 2rem;

  border-bottom-style: solid;
  border-width: 1px;

  background-color: rgb(var(--colour));

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 1.5rem;

}

.todo-item:hover {
  cursor: pointer;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item[priority="low"] { 
  --colour: 240 255 240;
}

.todo-item[priority="medium"] { 
  --colour: 240 240 255;
}

.todo-item[priority="high"] { 
  --colour: 255 240 240;
}

.todo-main-info {

  display: flex;
  flex-direction: column;
  
}

.todo-item-complete {

  margin-right: 1rem;

  height: 2rem;
  width: 2rem;

  border-radius: 50%;

  align-self: center;

}

#add-todo-item {

  width: 2rem;
  height: 2rem;

  margin-top: 1rem;
  padding: none;

  background-color: rgb(255, 78, 78);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;

}